* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.titleButton {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 16px 46px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height */


    color: #222222;

}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 34px;
    left: 371px;
}

.buttons .blue {
    width: 32px;
    height: 32px;
    border-radius: 100%;

    background: #3A9BDC;
    border: none;
    margin: 0 7px;
    line-height: 31px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

/*.buttons .blue:active {*/
/*    border: 2px solid #222222;*/
/*}*/

.buttons .red {
    width: 32px;
    height: 32px;
    border-radius: 100%;

    background: #FB1111;
    border: none;
    margin: 0 7px;
    line-height: 31px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.buttons .black {
    width: 32px;
    height: 32px;
    border-radius: 100%;

    background: #222222;
    border: none;
    margin: 0 7px;
    line-height: 31px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.buttons .grey {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;

    background: #A9A9A9;
    border: none;
    margin: 0 7px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.order {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 120px;
    margin: -20px 46px 0;
    align-items: center;
}

.order .inStock {
    width: 72px;
    height: 22px;
    background: #3BEC24;
    border-radius: 22px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #222222;
}

.order .OutStock {
    width: 72px;
    height: 22px;
    background: #a8a8a8;
    border-radius: 22px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.keyboard {
    background-color: #A9A9A9;
    width: 100%;
    height: 240px;
    margin: 17px 0;
}

.footer {
    display: flex;
    flex-direction: column;

}
.footer .type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 46px;

}

.footer .type div {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 141% */


    color: #222222;
}

.footer .description {
    margin: 17px auto;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* or 147% */
    padding: 0 46px;


    color: #222222;

}

.under_foot {
    padding: 0 46px;
    display: flex;
    justify-content: space-between;
}

.go_cart {
    display: flex;
    width: 228px;
    height: 45px;
    background: #3BEC24;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #222222;
    border: none;
    justify-content: space-between;
    padding: 14px;
    align-items: center;
}
.go_cart2 {
    display: flex;
    width: 115px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    justify-content: space-between;
    padding: 14px;
    align-items: center;

    color: #222222;
}

.go_cart3 {
    display: flex;
    width: 115px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    color: #222222;
}

.polygon {
    width: 29px;
    height: 20px;
}

.tabs_body{
    position: relative;

}
.tabs_content {
    display: none;
    flex-direction: column;
    width: 600px;
    height: 570px;
    background: #FFFFFF;
    border-radius: 60px;
    box-shadow: 0px 0px 14px 6px rgba(154, 154, 154, 0.22);
}


.tabs_content.is-active {
    display: flex;
}



/*keyboard*/













* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.keyboard_wrapp {
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    order: 2;
}

.keyboard_keys{
    width: 100%;
    zoom: 54%;
    transform: translate(4%, 15%);
}

.row {
    display: flex;
}

.keys {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: 0s;
    z-index: 5;
}

.backspace_key {
    width: 120px;
}

.tab_key {
    width: 90px;
}

.slash_key {
    width: 90px;
}

.caps_lock_key {
    width: 128px;
}

.enter_key {
    width: 120px;
}

.shift_key {
    width: 124px;
}

.space_key {
    max-width: 600px;
    width: 100%;
}

.text {
    max-width: 1008px;
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    font-size: 26px;
    background-color: #f7f7f7;
    padding-left: 10px;
}

.keys.active {
    background-color: #333;
    color: #fff;
}

.keys.remove {
    animation: keys_animation 0.5s forwards ;
}

@keyframes keys_animation {
    0% {
        background-color: #333;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}

body.active {
    background-color: rgb(54,54,54);
}

.toggle_circle {
    width: 20px;
    height: 20px;
    background-color: rgb(54,54,54);
    border-radius: 50px;
    margin: 0 5px;
    position: absolute;
    left: 0;
}

.toggle_circle.active {
    left: 60%;
    background-color: #fff;
}

.keyboard_wrapp.active {
    background-color: #585858;
}

.keys.keys_night {
    background-color: #3c3c3c;
    color: #fff;
}

.text.active {
    background-color: #2b2b2b;
    color: #fff;
}

.keys.keys_night.active {
    background-color: #fff;
    color: #333;
}

.keys.keys_night.remove {
    animation: keys_night_animation 0.5s forwards;
}

@keyframes keys_night_animation {
    0%{
        background-color: #fff;
        color: #000;
    }
    100% {
        background-color: #333;
        color: #fff;
    }
}

.change_light_color {
    width: 100px;
    height: 50px;
    position: absolute;
    right: 150px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors_input {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
}


.keyboard_lights {
    position: absolute;
    width: 100%;
    height: 100%;
}












